<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Registro</th>
      <th>Cadastro</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of pessoas">
      <td>{{ item.id }}</td>
      <td>{{ item.nome }}</td>
      <td>{{ item.registro }}</td>
      <td>{{ item.cadastro }}</td>
    </tr>
  </tbody>
</table>



<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Marca</th>
      <th>Cadastro</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of carros">
      <td>{{ item.id }}</td>
      <td>{{ item.nome }}</td>
      <td>{{ item.marca }}</td>
      <td>{{ item.cadastro }}</td>
    </tr>
  </tbody>
</table>